documentation
# Compiled # 
############
*.class
*.nxj
*.nxd
out

#junit reports#
reports

# Project #
###########
.classpath
.externalToolBuilders
.idea
.project
*.cproject
.settings
nbproject
atlassian-ide-plugin.xml
nb-configuration.xml

*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
old
